
.myflex{
    display: flex;
    height: 100vh;
    background-color: rgb(252, 178, 39);
}

.left-div{
    border: solid black 0px;
    width: 50vw;
}

.right-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.form-div{
    display: flex;
    justify-content: center;
}

.image1{
    width: 50vw;
    height: 100vh;
}




