.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.font-bold{
    font-weight: 550;
    font-size: 10vh;
}

.font-size{
    font-size:larger;
}

.border-bottom{
    border-bottom: solid lightgray 1px;
}

.heading{
    margin-top: 5vh;
    font-size: 10vh;
    font-weight: 550;
}

.color-green{
    color: green;
}

